@page
@model MyCinema.Pages.Series.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Serie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.SerieID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.SerieID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.SeasonNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.SeasonNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.SerieGenre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.SerieGenre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.SerieDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.SerieDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.AgeRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.AgeRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.SeriePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.SeriePrice)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Serie.SerieName" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
