@page
@model MyCinema.Pages.Costumers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Costumer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Costumer.CustomerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Costumer.CustomerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Costumer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Costumer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Costumer.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Costumer.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Costumer.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Costumer.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Costumer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Costumer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Costumer.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Costumer.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Costumer.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Costumer.BirthDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Costumer.IdentityCard" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
